/* Debug flags */
.debug { border: 1px dashed #FF0000; }
html { overflow: auto; }

/* The Application Theme */
form.Application {
	display: block;
}

form.Application * {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

form.Application *:focus {
	/* outline: 1px solid #898989; */
}

/* Box Container */
div.Box {
	/* float: left; */
	margin: 0px;
	position: relative;
    overflow: hidden;
}

/* FormItem Container */
div.FormItem {
	float: none;
	margin-bottom: 10px;
    overflow: hidden;
}

div.FormItem span.Label {
	display: block;
	padding: 3px 7px 0px 0px;
}

div.FormItem label { padding-top: 2px; }
/* div.FormItem label input, */
div.FormItem label input[TYPE="CHECKBOX"] {
	margin-right: 5px;
	top: 1px; }
	
div.FormItem input[TYPE="TEXT"],
div.FormItem input[TYPE="BUTTON"],
div.FormItem button {
	margin-right: 5px; }

div.FormItem span.required {
	color: red;
	font-weight: bolder;
	position: relative;
	top: 3px;
}

/* Widgets */
button,
input[type="BUTTON"],
input[type="SUBMIT"],
select,
textarea,
input[type="TEXT"],
input[type="PASSWORD"] {
	border: 1px solid #cdcdcd;
	border-right-color: #898989;
	border-bottom-color: #898989;
	font-family: sans-serif;
}

input[type="CHECKBOX"] {
	position: relative;
	top: 5px;
}

form.Application select,
select,
form.Application textarea,
form.Application input[type="TEXT"],
form.Application input[type="PASSWORD"] {
	background: #fcfeff; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfeff 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfeff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfeff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfeff 0%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #fcfeff 0%,#ffffff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfeff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #fcfeff 0%,#ffffff 100%); /* W3C */

	padding: 5px;
	font-family: monospace;
}

textarea:hover,
input[type="TEXT"]:hover,
select:hover {
/* 	border-color: #0066AA; */
	outline: 1px solid #898989;
}

textarea:focus,
input[type="TEXT"]:focus,
input[type="PASSWORD"]:focus {
/* 	border-color: #0066AA; */
	outline: 1px solid #898989;
}

form.Application textarea.readonly,
form.Application input[type="TEXT"].readonly,
form.Application input[type="PASSWORD"].readonly {
	background: #eeeeee;
	color: #898989;
}

button,
input[type="BUTTON"],
input[type="SUBMIT"] {
	background: #f4f4f4;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	font-weight: bold;
	padding: 5px 15px;
}

button:focus,
button:hover,
input[type="BUTTON"]:focus,
input[type="BUTTON"]:hover,
input[type="SUBMIT"]:focus,
input[type="SUBMIT"]:hover {
	background: #f2f5f6;
	border: 1px solid #0066AA;
	outline: none;
}

button:active,
input[type="BUTTON"]:active,
input[type="SUBMIT"]:active {
	border: 1px solid #0066AA;
}

/* Button Bar */
ul.ButtonBar {
	list-style: none;
	overflow: hidden;
	padding: 5px 10px 5px;
}

ul.ButtonBar li {
	display: inline;
	margin-left: 10px;
}

/* Grid */
div.Grid {
    background: white;
    border: 1px solid #cecece;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
div.Grid ul {
    border-bottom: 1px dotted #dedede;
    display: block;
    height: 29px;
    list-style: none;
    overflow: hidden;
    width: 100%;
}
div.Grid ul li {
    border-left: 1px solid transparent;
    display: block;
    float: left;
    overflow: hidden;
    padding: 6px 6px 4px;
}
div.Grid ul.highlighted {
    background: #f7f7f7;
}
div.Grid ul.selected {
    background: #cdf;
    font-weight: bolder;
}
div.Grid ul:hover {
    background: #def;
    cursor: pointer;
}
div.Grid ul.GridHeader {
    background: url(../imgs/grid-header-bg.png) repeat-x;
    border-bottom: 1px solid #dedede;
}
div.Grid ul.GridHeader li {
    border-left: 1px solid #dedede;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 6px;
}
div.Grid div.GridBody {
	overflow: auto;
	overflow-x: hidden;
}
div.Grid div.GridBody ul li {
	font-family: monospace;
}

/* RadioGroup */
ul.RadioGroup {
	list-style: none;
	padding-top: 2px;
}
ul.RadioGroup input[type="RADIO"] {
	margin-right: 5px;
	position: relative;
	top: 1px;
}
ul.RadioGroup label {
	padding-right: 10px;
}

/* Panel */
div.Panel {
    border-top: 1px solid #dedede;
	margin: 15px 0px;
    padding: 10px 0px 0px 0px;
    position: relative; }
div.Panel div.Container {
	margin: 0px 0px 0px 160px;
	padding: 15px 10px 10px; }
div.Panel div.PanelBar {
    color: black;
    display: block;
    /* height: 37px; */
    left: 0px;
    overflow: visible;
    position: absolute;
    top: 20px;
    width: 150px; }
div.Panel div.PanelBar span {
	font-size: 14px;
    font-weight: bold;
    left: 10px;
    position: relative;
    /* text-transform: uppercase; */
    top: 7px;
}

/* Dialog Panel */
div.DialogPanel {
	background: #fefefe;
	background-image: url(../imgs/panel-gradient-bg.png);
	background-position: 100% 100%;
	background-repeat: repeat-x;

	border: 1px solid #cdcdcd;

	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;

	border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;

	border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;

	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;

	-moz-box-shadow: 0 0 35px #888;
	-webkit-box-shadow: 0 0 35px #888;
	box-shadow: 0 0 35px #888;

	padding: 45px 0px 0px;
/* 	margin-bottom: 15px; */
	margin: 0px;
	position: relative;
}
div.DialogPanel div.PanelBar {
	border-bottom: 0px;
	top: 0px;
	width: 100%;
}
div.DialogPanel div.PanelBar span {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	left: 20px;
	top: 14px;
}
div.DialogPanel div.PanelBar a.CloseButton {
	background: url(../imgs/panel-button-close.gif) no-repeat;
	border: none;
	display: block;
	height: 16px;
	position: absolute;
	right: 13px;
	text-decoration: none;
	top: 12px;
	width: 16px;
}
div.DialogPanel div.PanelBar a.CloseButton:hover {
/* 	opacity: 0.8; */
	cursor: pointer;
	text-decoration: none;
}
div.DialogPanel div.Container {
	height: 100%;
	margin: 0px;
	overflow: auto;
	padding: 0px; }
div.DialogPanel ul.BottomButtonBar {
	display: block;
	position: absolute;
	bottom: 10px;
}
div.DialogPanel span.AlertMessage {
	font-size: 13px;
	display: block;
	padding: 15px;
	text-align: center; }

/* Tree Component */
div.Tree { overflow: auto; }
div.Tree ul { clear: both; display: block; list-style: none; }
div.Tree ul li { overflow: hidden; display: block; width: 100%; }
div.Tree ul li a { border: 0px; display: block; width: 12px; height: 22px; float: left; text-decoration: none; }
div.Tree ul li label {
	float: left;
	display: block;
	padding: 5px 0px 5px 10px;
}
div.Tree ul li a.collapsed {
	background-image: url(../imgs/tree-pointer-collapsed.png);
	background-repeat: no-repeat;
	background-position: 0px center;
}
/*div.Tree ul li.collapsed ul { display: none; }*/
div.Tree ul li a.elapsed {
	background-image: url(../imgs/tree-pointer-elapsed.png);
	background-repeat: no-repeat;
	background-position: 0px center;
}
div.Tree ul li label input[type="CHECKBOX"] { top: 1px; margin-right: 5px; }
div.Tree ul li ul { margin-left: 30px; }
